---
Language: Cpp
Standard: Cpp11
BasedOnStyle: LLVM

ColumnLimit: 80
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes: false
IndentWidth: 2
IndentCaseLabels: true
# AlwaysBreakAfterDefinitionReturnType: true
# AlwaysAllParametersOfDeclarationOnNextLine: true
